.notes__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    box-shadow: none;
    transition: ease-out 0.4s;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
}

.notes__container:hover {
    background-color: rgba(0, 0, 0, 0.5);
}